﻿
@{
    ViewData["Title"] = "ParkingSlots";
}

<h2 class="text-center" style="margin-top: 15px;">CPh Parking</h2>
<br>

<h4>Parking Lay-out:</h4>
<p class="italic">Legend:</p>
<table class="myTable" border="1">
    <tr>
        <td class="green"></td>
        <td class="top-white right-white bottom-white left-white">Available</td>
        <td class="red"></td>
        <td class="top-white right-white bottom-white left-white">Not&nbsp;Available</td>
        <td class="bubblegum"></td>
        <td class="top-white right-white bottom-white left-white">Reserve</td>
        <td class="orange"></td>
        <td class="top-white right-white bottom-white left-white">Motor</td>
        <td class="disable"></td>
        <td class="top-white right-white bottom-white left-white">Not&nbsp;for&nbsp;CPH</td>
    </tr>
</table>
<br>

<div class="container" style="border:3px solid #100d0d;">

    <div class="row">
        <div class="col-md-4">
            <table class="sample" border="0">


                <!-- Comment <h1>&#x2193;</h1> -->


                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="left-black top-black right-gray"></td>
                    
                        <td class="top-black  vertical-text" rowspan="8" colspan="2">
                            <p class="entrance">&#x2190;&nbsp;&nbsp;ENTRANCE</p>
                        </td>
                    
                    <td class="left-black"></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="left-black top-black"></td>
                    <td class="top-black"></td>
                    <td class="right-gray"></td>
                    <td class="left-black"></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="left-black top-black"></td>
                    <td class="top-black"></td>
                    <td>&#x2197;</td>
                    <td></td>
                    <td class="right-gray"></td>
                    <td class="left-black"></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="left-black top-black"></td>
                    <td class="top-black"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="left-gray bottom-black right-gray top-gray disable"> </td>
                    <td class="bottom-black right-gray top-gray disable"></td>
                    <td class="left-black"></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="left-black top-black"></td>
                    <td></td>
                    <td>&#x2197;</td>
                    <td></td>
                    <td class="left-gray bottom-black disable top-gray right-gray"></td>
                    <td class="bottom-black top-gray right-black disable"></td>
                    <td></td>
                    <td class="right-black"></td>
                    <td class="left-black"></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td class="disable bottom-gray left-black top-black"></td>
                    <td class="disable bottom-gray left-gray top-black right-gray"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="left-black top-black"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="right-black"></td>
                    <td class="left-no top-black right-black bottom-black" rowspan="2" colspan="5">
                        <p class="elev">ELEVATOR<br>B1</p>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td class="bottom-black left-black disable"></td>
                    <td class="bottom-black left-gray right-gray disable"></td>
                    <td></td>
                    <td>&#x2191;</td>
                    <td class="left-black top-black"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="right-black"></td>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="left-black"></td>
                    <td></td>
                    <td class="left-gray bottom-gray top-black disable"></td>
                    <td class="left-gray bottom-gray top-black disable"></td>
                    <td class="left-gray bottom-gray top-black disable"></td>
                    <td class="left-gray bottom-gray top-black disable"></td>
                    <td class="left-gray bottom-gray top-black disable"></td>
                    <td class="left-gray top-black right-gray bottom-gray disable"></td>
                    <td class="right-black left-gray disable"></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td class="bottom-black left-black top-black disable"></td>
                    <td class="bottom-black left-gray top-black right-gray disable"></td>
                    <td></td>
                    <td class="vertical-text1">&#x21b5;</td>
                    <td></td>
                    <td colspan="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#x2190;</td>
                    <td></td>
                    <td></td>
                    <td>&#x21b5;</td>
                    <td></td>
                    <td class="bottom-gray top-gray right-black left-gray disable"></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="left-black bottom-black"></td>
                    <td class="bottom-black"></td>
                    <td class="bottom-black"></td>
                    <td class="bottom-black"></td>
                    <td class="bottom-black"></td>
                    <td class="bottom-black"></td>
                    <td class="bottom-black"></td>
                    <td class="bottom-black"></td>
                    <td class="bottom-black"></td>
                    <td class="bottom-black"></td>
                    <td class="bottom-black right-black left-gray disable"></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>

        <div class="col-md-4">
            <table class="sample" border="0">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="left-black top-black"></td>
                    <td class="top-black"></td>
                    <td class="top-black right-black"></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="left-black top-black"></td>
                    <td class="top-black"></td>
                    <td>&#8921;</td>
                    <td></td>
                    <td class="right-black"></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="left-black top-black"></td>
                    <td class="top-black"></td>
                    <td>&#x2197;</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="right-black"></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="left-black top-black"></td>
                    <td class="top-black"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="left-gray bottom-black right-gray top-gray disable"></td>
                    <td class="bottom-gray right-gray top-gray highlight" bgcolor="#00FF00"><p class="thick">18</p></td>
                    <td class="text-right">&#x2193;</td>
                    <td class="right-black"></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="left-black top-black"></td>
                    <td></td>
                    <td>&#x2197;</td>
                    <td></td>
                    <td class="left-gray bottom-black top-gray right-gray disable"></td>
                    <td class="bottom-black top-gray right-black disable"></td>
                    <td></td>
                    <td class="right-gray bottom-black left-black highlight" bgcolor="#00FF00"><p class="thick">19</p></td>
                    <td></td>
                    <td class="right-black"></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td class="bottom-gray left-black top-black highlight" bgcolor="#00FF00"><p class="thick">37</p></td>
                    <td class="bottom-gray left-gray top-black right-gray highlight" bgcolor="#00FF00"><p class="thick">36</p></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="left-black top-black"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="right-black"></td>
                    <td></td>
                    <td></td>
                    <td class="top-black right-black bottom-black" rowspan="2" colspan="5">
                        <p class="elev">ELEVATOR<br>B2</p>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td class="bottom-black left-black highlight" bgcolor="#00FF00"><p class="thick">35</p></td>
                    <td class="bottom-black left-gray right-gray highlight" bgcolor="#00FF00"><p class="thick">34</p></td>
                    <td></td>
                    <td>&#x2191;</td>
                    <td class="left-black top-black"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="right-black"></td>
                    <td class="text-right">&#x2193;</td>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="left-black"></td>
                    <td></td>
                    <td class="left-gray bottom-gray top-black highlight" bgcolor="#00FF00"><p class="thick" valign="middle">31</p></td>
                    <td class="left-gray bottom-gray top-black highlight" bgcolor="#00FF00"><p class="thick">30</p></td>
                    <td class="left-gray bottom-gray top-black highlight" bgcolor="#00FF00"><p class="thick">29</p></td>
                    <td class="left-gray bottom-gray top-black highlight" bgcolor="#00FF00"><p class="thick">28</p></td>
                    <td class="left-gray bottom-gray top-black highlight" bgcolor="#00FF00"><p class="thick">27</p></td>
                    <td class="left-gray top-black right-gray bottom-gray highlight" bgcolor="#00FF00"><p class="thick">26</p></td>
                    <td></td>
                    <td></td>
                    <td class="right-black left-gray disable"></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td class="bottom-black left-black top-black highlight" bgcolor="#00FF00" data-toggle="tooltip" data-placement="left" title="User">
                    <a asp-controller="Users" asp-action="Index"><p class="thick">33</p></a></td>

                    <td class="bottom-black left-gray top-black right-gray highlight" bgcolor="#00FF00"><p class="thick">32</p></td>
                    <td></td>
                    <td class="vertical-text1">&#x21b5;</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>&#x2190;</td>
                    <td></td>
                    <td></td>
                    <td>&#x21b5;</td>
                    <td></td>
                    <td class="bottom-gray top-gray right-black left-gray disable"></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="left-black bottom-black"></td>
                    <td class="bottom-black"></td>
                    <td class="bottom-black"></td>
                    <td class="bottom-black"></td>
                    <td class="bottom-black"></td>
                    <td class="bottom-black"></td>
                    <td class="bottom-black"></td>
                    <td class="bottom-black"></td>
                    <td class="bottom-black"></td>
                    <td class="bottom-black"></td>
                    <td class="bottom-black right-black left-gray disable"></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>

        <div class="col-md-4">
            <table class="sample" border="0">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="left-black top-black"></td>
                    <td class="top-black"></td>
                    <td class="top-black right-gray"></td>
                    <td class="top-black right-gray bottom-gray highlight" bgcolor="#00FF00"><p class="thick">43</p></td>
                    <td class="top-black right-black highlight bottom-gray" bgcolor="#00FF00"><p class="thick">44</p></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="left-black top-black"></td>
                    <td class="top-black"></td>
                    <td>&#8921;</td>
                    <td></td>
                    <td class="right-gray"></td>
                    <td class="right-gray highlight bottom-black" bgcolor="#00FF00"><p class="thick">45</p></td>
                    <td class="right-black highlight bottom-black" bgcolor="#B5E9E6"><p class="thick">46</p></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="left-black top-black"></td>
                    <td class="top-black"></td>
                    <td>&#x2197;</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="right-black"></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="left-black top-black"></td>
                    <td class="top-black"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="left-gray bottom-black right-gray top-gray disable"></td>
                    <td class="bottom-gray right-gray top-gray highlight" bgcolor="#00FF00"><p class="thick">40</p></td>
                    <td class="text-right">&#x2193;</td>
                    <td class="right-gray"></td>
                    <td class="top-black right-gray highlight bottom-gray" bgcolor="#00FF00"><p class="thick">47</p></td>
                    <td class="top-black right-black highlight bottom-gray" bgcolor="#00FF00"><p class="thick">48</p></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="left-black top-black"></td>
                    <td></td>
                    <td>&#x2197;</td>
                    <td></td>
                    <td class="left-gray bottom-black top-gray right-gray highlight" bgcolor="#00FF00"><p class="thick">67</p></td>
                    <td class="bottom-black top-gray right-black disable"></td>
                    <td></td>
                    <td class="right-gray left-black bottom-gray highlight" bgcolor="#00FF00"><p class="thick">41</p></td>
                    <td></td>
                    <td class="right-gray"></td>
                    <td class="right-gray highlight" bgcolor="#00FF00"><p class="thick">49</p></td>
                    <td class="right-black highlight" bgcolor="#00FF00"><p class="thick">50</p></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td class="bottom-gray left-black top-black highlight" bgcolor="#00FF00"><p class="thick">66</p></td>
                    <td class="bottom-gray left-gray top-black right-gray highlight" bgcolor="#00FF00"><p class="thick">65</p></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="left-black top-black"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="right-gray left-black bottom-black highlight" bgcolor="#00FF00"><p class="thick">42</p></td>
                    <td></td>
                    <td></td>
                    <td class="top-black right-black bottom-black" rowspan="2" colspan="5">
                        <p class="elev">ELEVATOR<br>B3</p>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td class="bottom-black left-black highlight" bgcolor="#00FF00"><p class="thick">64</p></td>
                    <td class="bottom-black left-gray right-gray highlight" bgcolor="#00FF00"><p class="thick">63</p></td>
                    <td></td>
                    <td>&#x2191;</td>
                    <td class="left-black top-black"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="right-black"></td>
                    <td class="text-right">&#x2193;</td>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="left-black"></td>
                    <td></td>
                    <td class="left-gray bottom-gray top-black disable"></td>
                    <td class="left-gray bottom-gray top-black disable"></td>
                    <td class="left-gray bottom-gray top-black highlight" bgcolor="#00FF00"><p class="thick">58</p></td>
                    <td class="left-gray bottom-gray top-black highlight" bgcolor="#00FF00"><p class="thick">57</p></td>
                    <td class="left-gray bottom-gray top-black highlight" bgcolor="#00FF00"><p class="thick">56</p></td>
                    <td class="left-gray top-black right-gray bottom-gray highlight" bgcolor="#00FF00"><p class="thick">55</p></td>
                    <td></td>
                    <td></td>
                    <td class="right-black left-gray highlight" bgcolor="#00FF00"><p class="thick">52</p></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td class="bottom-black left-black top-black highlight" bgcolor="#00FF00"><p class="thick">62</p></td>
                    <td class="bottom-black left-gray top-black right-gray highlight" bgcolor="#00FF00"><p class="thick">61</p></td>
                    <td></td>
                    <td class="vertical-text1">&#x21b5;</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>&#x2190;</td>
                    <td></td>
                    <td></td>
                    <td>&#x21b5;</td>
                    <td></td>
                    <td class="bottom-gray top-gray right-black left-gray highlight" bgcolor="#00FF00"><p class="thick">53</p></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="left-black bottom-black"></td>
                    <td class="bottom-black"></td>
                    <td class="bottom-black"></td>
                    <td class="bottom-black"></td>
                    <td class="bottom-black"></td>
                    <td class="bottom-black"></td>
                    <td class="bottom-black"></td>
                    <td class="bottom-black"></td>
                    <td class="bottom-black"></td>
                    <td class="bottom-black"></td>
                    <td class="bottom-black right-black left-gray highlight" bgcolor="#00FF00"><p class="thick">54</p></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="col-md-3">
        <table class="sample" border="0">

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="left-black top-black"></td>
                <td class="top-black"></td>
                <td class="top-black"></td>
                <td class="top-black right-gray left-gray bottom-gray highlight" bgcolor="#00FF00"><p class="thick">72</p></td>
                <td class="top-black right-black bottom-gray highlight" bgcolor="#00FF00"><p class="thick">73</p></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="left-black top-black"></td>
                <td class="top-black"> </td>
                <td>&#8921;</td>
                <td></td>
                <td></td>
                <td class="right-gray left-gray bottom-black highlight" bgcolor="#00FF00"><p class="thick">76</p></td>
                <td class="right-black bottom-black highlight" bgcolor="#00FF00"> <p class="thick">77</p> </td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="left-black top-black"></td>
                <td class="top-black"></td>
                <td>&#x2197;</td>
                <td></td>
                <td></td>
                <td></td>
                <td class="right-black"></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="left-black top-black"></td>
                <td class="top-black"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="left-gray bottom-black right-gray top-gray disable"></td>
                <td class="bottom-gray right-gray top-gray disable"></td>
                <td class="text-right">&#x2193;</td>
                <td></td>
                <td class="top-black right-gray left-gray bottom-gray highlight" bgcolor="#00FF00"><p class="thick">78</p></td>
                <td class="top-black right-black bottom-gray highlight" bgcolor="#00FF00"><p class="thick">79</p> </td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td class="left-black top-black"></td>
                <td></td>
                <td>&#x2197;</td>
                <td></td>
                <td class="left-gray bottom-black top-gray right-gray highlight" bgcolor="#00FF00"><p class="thick">96</p></td>
                <td class="bottom-black top-gray right-black disable"></td>
                <td></td>
                <td class="right-gray left-black bottom-gray highlight" bgcolor="#00FF00"><p class="thick">70</p></td>
                <td></td>
                <td></td>
                <td class="right-gray left-gray highlight " bgcolor="#00FF00"><p class="thick">80</p></td>
                <td class="right-black highlight" bgcolor="#00FF00"><p class="thick">81</p></td>
            </tr>

            <tr>
                <td class="bottom-gray left-black top-black disable"></td>
                <td class="bottom-gray left-gray top-black right-gray disable"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="left-black top-black "></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="right-gray left-black bottom-black highlight" bgcolor="#00FF00"><p class="thick">71</p></td>
                <td></td>
                <td></td>
                <td class="top-black right-black bottom-black" rowspan="2" colspan="5">
                    <p class="elev">ELEVATOR<br>B4</p>
                </td>
            </tr>

            <tr>
                <td class="bottom-black left-black disable"></td>
                <td class="bottom-black left-gray right-gray disable"></td>
                <td></td>
                <td>&#x2191;</td>
                <td class="left-black top-black"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="right-black"></td>
                <td class="text-right">&#x2193;</td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td class="left-black"></td>
                <td></td>
                <td class="left-gray bottom-gray top-black disable"></td>
                <td class="left-gray bottom-gray top-black disable"></td>
                <td class="left-gray bottom-gray top-black disable"></td>
                <td class="left-gray bottom-gray top-black disable"></td>
                <td class="left-gray bottom-gray top-black disable"></td>
                <td class="left-gray top-black right-gray bottom-gray highlight" bgcolor="#00FF00"><p class="thick">84</p></td>
                <td></td>
                <td></td>
                <td class="right-black left-gray highlight" bgcolor="#00FF00"><p class="thick">109</p></td>
            </tr>

            <tr>
                <td class="bottom-black left-black top-black highlight" bgcolor="#DD3333"><p class="thick">90</p></td>
                <td class="bottom-black left-gray top-black right-gray highlight" bgcolor="#DD3333"><p class="thick">91</p></td>
                <td></td>
                <td class="vertical-text1">&#x21b5;</td>
                <td></td>
                <td></td>
                <td></td>
                <td>&#x2190;</td>
                <td></td>
                <td></td>
                <td>&#x21b5;</td>
                <td></td>
                <td class="bottom-gray top-gray right-black left-gray highlight" bgcolor="#DD3333"><p class="thick">82</p></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td class="left-black bottom-black"></td>
                <td class="bottom-black"></td>
                <td class="bottom-black"></td>
                <td class="bottom-black"></td>
                <td class="bottom-black"></td>
                <td class="bottom-black"></td>
                <td class="bottom-black"></td>
                <td class="bottom-black"></td>
                <td class="bottom-black"></td>
                <td class="bottom-black"></td>
                <td class="bottom-black right-black left-gray highlight" bgcolor="#DD3333"><p class="thick">83</p></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div class="col-md-3">
        <table class="sample" border="0">

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="left-black top-black"></td>
                <td class="top-black"></td>
                <td class="top-black"></td>
                <td class="top-black right-gray left-gray bottom-gray disable"></td>
                <td class="top-black right-black bottom-gray disable"></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="left-black top-black"></td>
                <td class="top-black"> </td>
                <td>&#8921;</td>
                <td></td>
                <td></td>
                <td class="right-gray left-gray bottom-black disable"></td>
                <td class="right-black bottom-black disable"></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="left-black top-black"></td>
                <td class="top-black"></td>
                <td>&#x2197;</td>
                <td></td>
                <td></td>
                <td></td>
                <td class="right-black"></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="left-black top-black"></td>
                <td class="top-black"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="highlight left-gray bottom-black right-gray top-gray" bgcolor="#DD3333"><p class="thick">98</p></td>
                <td class="bottom-black right-gray top-gray disable"></td>
                <td class="text-right">&#x2193;</td>
                <td></td>
                <td class="top-black right-gray left-gray bottom-gray disable"></td>
                <td class="top-black right-black bottom-gray disable"></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="left-black top-black"></td>
                <td></td>
                <td>&#x2197;</td>
                <td></td>
                <td class="left-gray bottom-black top-gray right-gray disable"></td>
                <td class="bottom-black top-gray right-black disable"></td>
                <td></td>
                <td class="right-black"></td>
                <td></td>
                <td></td>
                <td class="right-gray left-gray disable"></td>
                <td class="right-black disable"></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="highlight bottom-gray left-black top-black" bgcolor="#DD3333"><p class="thick">124</p></td>
                <td class="highlight bottom-gray left-gray top-black right-gray" bgcolor="#DD3333"><p class="thick">123</p></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="left-black top-black"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="right-black"></td>
                <td></td>
                <td></td>
                <td class="top-black right-black bottom-black" rowspan="2" colspan="5">
                    <p class="elev">ELEVATOR<br>B5</p>
                </td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="bottom-black left-black highlight" bgcolor="#DD3333"><p class="thick">122</p></td>
                <td class="bottom-black left-gray right-gray highlight" bgcolor="#DD3333"><p class="thick">121</p></td>
                <td></td>
                <td>&#x2191;</td>
                <td class="left-black top-black"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="right-black"></td>
                <td class="text-right">&#x2193;</td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="left-black"></td>
                <td></td>
                <td class="left-gray bottom-gray top-black disable"></td>
                <td class="left-gray bottom-gray top-black highlight" bgcolor="#F9B55C"><p class="thick">117</p></td>
                <td class="left-gray bottom-gray top-black disable"></td>
                <td class="left-gray bottom-gray top-black highlight" bgcolor="#F9B55C"><p class="thick">115</p></td>
                <td class="left-gray bottom-gray top-black disable"></td>
                <td class="left-gray top-black right-gray bottom-gray disable"></td>
                <td></td>
                <td></td>
                <td class="right-black left-gray disable"></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="bottom-black left-black top-black disable"></td>
                <td class="bottom-black left-gray top-black right-gray disable"></td>
                <td></td>
                <td class="vertical-text1">&#x21b5;</td>
                <td></td>
                <td></td>
                <td></td>
                <td>&#x2190;</td>
                <td></td>
                <td></td>
                <td>&#x21b5;</td>
                <td></td>
                <td class="bottom-gray top-gray right-black left-gray disable"></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="left-black bottom-black"></td>
                <td class="bottom-black"></td>
                <td class="bottom-black"></td>
                <td class="bottom-black"></td>
                <td class="bottom-black"></td>
                <td class="bottom-black"></td>
                <td class="bottom-black"></td>
                <td class="bottom-black"></td>
                <td class="bottom-black"></td>
                <td class="bottom-black"></td>
                <td class="bottom-black right-black left-gray disable"></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div class="col-md-3">
        <table class="sample" border="0">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="left-black top-black"></td>
                <td class="top-black"></td>
                <td class="top-black"></td>
                <td class="top-black left-gray right-gray bottom-gray disable"></td>
                <td class="top-black right-black bottom-gray disable"></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="left-black top-black"></td>
                <td class="top-black"></td>
                <td>&#8921;</td>
                <td></td>
                <td></td>
                <td class="left-gray right-gray bottom-black disable"></td>
                <td class="bottom-black right-black disable"></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="left-black top-black"></td>
                <td class="top-black"></td>
                <td>&#x2197;</td>
                <td></td>
                <td></td>
                <td></td>
                <td class="right-black"></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="left-black top-black"></td>
                <td class="top-black"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="left-gray bottom-black right-gray top-gray disable"></td>
                <td class="bottom-black right-gray top-gray disable"></td>
                <td class="text-right">&#x2193;</td>
                <td></td>
                <td class="highlight top-black right-gray left-gray bottom-gray" bgcolor="#F9B55C"><p class="thick">134</p></td>
                <td class="highlight top-black right-black left-gray bottom-gray" bgcolor="#F9B55C"><p class="thick">135</p></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="left-black top-black"></td>
                <td></td>
                <td>&#x2197;</td>
                <td></td>
                <td class="highlight left-gray bottom-black top-gray right-gray" bgcolor="#00FF00"><p class="thick">153</p></td>
                <td class="bottom-black top-gray right-black disable"></td>
                <td></td>
                <td class="right-black"></td>
                <td></td>
                <td></td>
                <td class="right-gray left-gray disable"></td>
                <td class="right-black disable"></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="bottom-gray left-black top-black disable"></td>
                <td class="bottom-gray left-gray top-black right-gray disable"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="left-black top-black"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="right-black"></td>
                <td></td>
                <td></td>
                <td class="top-black right-black bottom-black" rowspan="2" colspan="5">
                    <p class="elev">ELEVATOR<br>B6</p>
                </td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="bottom-black left-black disable"></td>
                <td class="bottom-black left-gray right-gray disable"></td>
                <td></td>
                <td>&#x2191;</td>
                <td class="left-black top-black"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="right-black"></td>
                <td class="text-right">&#x2193;</td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="left-black"></td>
                <td></td>
                <td class="left-gray bottom-gray top-black disable"></td>
                <td class="left-gray bottom-gray top-black disable"></td>
                <td class="left-gray bottom-gray top-black disable"></td>
                <td class="left-gray bottom-gray top-black disable"></td>
                <td class="left-gray bottom-gray top-black disable"></td>
                <td class="left-gray top-black right-gray bottom-gray disable"></td>
                <td></td>
                <td></td>
                <td class="right-black left-gray disable"></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="bottom-black left-black top-black disable"></td>
                <td class="bottom-black left-gray top-black right-gray disable"></td>
                <td></td>
                <td class="vertical-text1">&#x21b5;</td>
                <td></td>
                <td></td>
                <td></td>
                <td>&#x2190;</td>
                <td></td>
                <td></td>
                <td>&#x21b5;</td>
                <td></td>
                <td class="bottom-gray top-gray right-black left-gray disable"></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="left-black bottom-black"></td>
                <td class="bottom-black"></td>
                <td class="bottom-black"></td>
                <td class="bottom-black"></td>
                <td class="bottom-black"></td>
                <td class="bottom-black"></td>
                <td class="bottom-black"></td>
                <td class="bottom-black"></td>
                <td class="bottom-black"></td>
                <td class="bottom-black"></td>
                <td class="highlight bottom-black right-black left-gray" bgcolor="#00FF00"><p class="thick">140</p></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div class="col-md-3">
        <table class="sample" border="0">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="left-black top-black"></td>
                <td class="top-black"></td>
                <td class="top-black right-gray"></td>
                <td class="highlight top-black right-gray" bgcolor="#00FF00"><p class="thick">158</p></td>
                <td class="highlight top-black right-black" bgcolor="#00FF00"><p class="thick">159</p></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="left-black top-black"></td>
                <td class="top-black"></td>
                <td>&#8921;</td>
                <td></td>
                <td></td>
                <td class="highlight top-gray left-gray right-gray bottom-black" bgcolor="#00FF00"><p class="thick">160</p></td>
                <td class="highlight bottom-black top-gray right-black" bgcolor="#00FF00"><p class="thick">163</p></td>
            </tr>

            <tr>
                <td></td>
                <td class="left-black top-black"></td>
                <td class="top-black"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="right-black"></td>
            </tr>

            <tr>
                <td></td>
                <td class="top-black"></td>
                <td class="top-black"></td>
                <td class="top-black"></td>
                <td class="top-black"></td>
                <td class="top-black right-black"></td>
                <td class="text-center" colspan="2" rowspan="2"><h3>&#8693;</h3></td>
                <td class="highlight left-gray top-black right-gray" bgcolor="#00FF00"><p class="thick">164</p> </td>
                <td class="highlight top-black right-black" bgcolor="#00FF00"><p class="thick">165</p> </td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="right-black"></td>
                <td class="highlight left-gray top-gray right-gray bottom-black" bgcolor="#00FF00"><p class="thick">166</p></td>
                <td class="highlight top-gray right-black bottom-black" bgcolor="#00FF00"><p class="thick">167</p></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="right-black"></td>
                <td></td>
                <td></td>
                <td class="left-black"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="right-black"></td>
                <td class="bottom-black vertical-text2 text-center" colspan="2"><h3>&#8630;</h3></td>
                <td class="left-black"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr><td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr>

            <tr><td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr>

            <tr><td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>

@section Styles {
    <style type="text/css">
        table.myTable {
            border-collapse: separate;
            border-spacing: 20px 5px;
        }

        table.sample {
            width: 360px;
            height: 280px;
        }

        p.thick {
            font-weight: bold;
            font-size: 11px;
            text-align: center;
        }

        p.elev {
            font-weight: bold;
            font-size: 15px;
            text-align: center;
            /* align-items: center;
                justify-content: center; */
        }

        p.entrance {
            font-weight: bold;
            font-size: 15px;
            width: 10px;
        }

        p.italic {
            font-style: italic;
            font-size: 13px;
        }

        th {
            width: 20px;
            height: 20px;
        }

        .vertical-text {
            transform: rotate(270deg);
            transform-origin: center;

            /*vertical-align: text-bottom; */
        }

        .vertical-text1 {
            transform: rotate(90deg);
            transform-origin: center;
        }

        .vertical-text2 {
            transform: rotate(180deg);
        }

        td {
            width: 20px;
            height: 20px;
        }

            td.top-black {
                border-top: 1px solid black;
            }

            td.left-black {
                border-left: 1px solid black;
            }

            td.right-black {
                border-right: 1px solid black;
            }

            td.bottom-black {
                border-bottom: 1px solid black;
            }

            td.top-gray {
                border-top: 1px solid rgb(191, 191, 191);
            }

            td.left-gray {
                border-left: 1px solid rgb(191, 191, 191);
            }

            td.right-gray {
                border-right: 1px solid rgb(191, 191, 191);
            }

            td.bottom-gray {
                border-bottom: 1px solid rgb(191, 191, 191);
            }

            td.bottom-white {
                border-bottom: 1px solid white;
            }

            td.top-white {
                border-top: 1px solid rgb(255, 255, 255);
            }

            td.left-no {
                border-left: 0px solid rgb(255, 255, 255);
            }

            td.left-white {
                border-left: 1px solid white;
            }

            td.right-white {
                border-right: 1px solid white;
            }

        .green {
            background-color: rgba(17, 235, 17, 0.801)
        }

        .red {
            background-color: rgba(213, 0, 0, 0.801)
        }

        .bubblegum {
            background-color: rgba(163, 228, 224, 0.801)
        }

        .orange {
            background-color: rgba(248, 163, 51, 0.801)
        }

        .disable {
            background-color: rgba(248, 204, 204, 0.801)
        }

        td.highlight:hover {
            background-color: rgb(212, 192, 220);
        }
        /*div.sample{
                border: 1px solid black;
                background-color: lightblue;
                padding-top: 1px;
                padding-right: 1px;
                padding-bottom: 1px;
                padding-left: 1px;
            } */



        /* comment */

    </style>
}