﻿@using CPh.Parking.Web.Models
@model CPh.Parking.Web.Models.User

@{
    ViewData["Title"] = "Create";
}

<h2>Add New</h2>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>




            <div class="form-group">
                <label asp-for="GlobalID" class="control-label"></label>
                <input asp-for="GlobalID" class="form-control" />
                <span asp-validation-for="GlobalID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>


            @*<div class="col-md-10">
            @Html.EditorFor(model => model.HireDate, new { htmlAttributes = new { @class = "form-control", type = "date", @Value = DateTime.Now.ToShortDateString() } })
            @Html.ValidationMessageFor(model => model.HireDate, "", new { @class = "text-danger" })
            <span class="help-block">* Mandatory Field</span>
        </div>*@


            <div class="form-group">
                <label asp-for="HireDate" class="control-label"></label>
                <input type="date" asp-for="HireDate" class="form-control" />
                <span asp-validation-for="HireDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EmpStat" class="control-label"></label>
                <select asp-for="EmpStat" class="form-control" asp-items="@Html.GetEnumSelectList<CPh.Parking.Web.Models.User.Status>()"></select>
                <span asp-validation-for="EmpStat" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CurLoc" class="control-label"></label>
                <input asp-for="CurLoc" class="form-control" />
                <span asp-validation-for="CurLoc" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Floor" class="control-label"></label>
                <input asp-for="Floor" class="form-control" />
                <span asp-validation-for="Floor" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IP" class="control-label"></label>
                <input asp-for="IP" class="form-control" />
                <span asp-validation-for="IP" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
