﻿@model CPh.Parking.Web.Models.ParkingRecord

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ParkingRecord</h4>
    <hr />

    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.SlotNo)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.FN)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.TimeIn)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.TimeOut)
        </dt>



        <dd>
            @Html.DisplayFor(model => model.SlotNo)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.FN)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.TimeIn)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.TimeOut)
        </dd>

    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
