﻿@model CPh.Parking.Web.Models.ParkingRecord

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ParkingRecord</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="SlotNo" class="control-label"></label>
                <input asp-for="SlotNo" class="form-control" />
                <span asp-validation-for="SlotNo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FN" class="control-label"></label>
                <input asp-for="FN" class="form-control" />
                <span asp-validation-for="FN" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TimeIn" class="control-label"></label>
                <input asp-for="TimeIn" class="form-control" />
                <span asp-validation-for="TimeIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeOut" class="control-label"></label>
                <input asp-for="TimeOut" class="form-control" />
                <span asp-validation-for="TimeOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

